body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.barra-de-navegacion {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    box-sizing: border-box;
}

.logo-contenedor {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url('img/Logo.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 15px;
}

.logo-texto {
    font-size: 2rem;
    font-weight: bold;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.login-contenedor {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0);
    box-sizing: border-box;
}

.login-formulario h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #4CAF50;
}

.formulario-grupo {
    margin-bottom: 1.5rem;
}

.formulario-grupo label {
    display: block;
    margin-bottom: 0.5rem;
    color: black;
    font-weight: bold;
}

.formulario-grupo input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.formulario-grupo input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0 3px rgba(75, 175, 75, 0.5);
    outline: none;
}

.contraseña-input-contenedor {
    position: relative;
    display: flex;
    align-items: center;
}

.contraseña-input-contenedor input {
    flex-grow: 1; 
}

.alternar-contraseña {
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 5px;
}

.alternar-contraseña img {
    width: 25px;
    height: 25px;
    display: block;
    filter: invert(53%) sepia(50%) saturate(1450%) hue-rotate(85deg) brightness(90%) contrast(90%);
}

.btn-login {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0);
    background-color: #45a049;
}

.link {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: black;
}

.link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}

.mensaje-error {
    background-color: #f8d7da;
    color: #f44336;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid #f44336;
}
